<div class="container">
	<nav>
		<div class="nav-wrapper">
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li class="scrapeBtn"><a href="#">Scrape</a></li>
		</ul>
		<a href="/" class="brand-logo center">The Scraper Times</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/saved">Saved Articles</a></li>
		</ul>
		</div>
	</nav>
	<div class="row mainPageRow">
		{{#each articles}}
			{{#if @first}}
				<div class="col s12 center">
					<div class="article">
						<h1 class="topH1">{{this.title}}</h1>
						<img src="{{this.img}}" class="topImg">
						<p>{{this.summary}}</p>
						
						<form action={{this.link}} method="POST">
							<button >Read</button>
						</form>
						<form action="/articles/{{this._id}}?_method=PUT" method="POST">
							<button type="submit" class="saveArticle">Save Article</button>
						</form>
						{{!-- <button data-url='{{this.link}}'>Read</button><button action=''>Save</button> --}}
					</div>
					
				</div>
				
				<hr>
			{{/if}}

			{{#unless @first}}
			<div class="col s12">
				<div class="article smallArticle">
					<div class="col s11">
						<h3>{{this.title}}</h3>
					</div>
					<div class="col s1 iconButton">
						<div class="col s12">
							<i class="material-icons readIcon">book</i>
						</div>
						<div class="col s12">
							<form action="/articles/{{this._id}}?_method=PUT" method="POST">
								<button type="submit" class="saveArticle material-icons saveIcon">fiber_pin</button>
							</form>
{{!-- 							<i class="material-icons saveIcon" data-id={{}}>fiber_pin</i> --}}
						</div>
					</div>
				</div>
			</div>
			{{/unless}}
		{{/each}}
	</div>
</div>